﻿@*@using PTP.Data*@
@model  SeguridadCiudadana.Fwk.Domain.Core.AspNetRoles

<div class="row">
    <div class="col-md-12">
        <input type="submit" value="Guardar" class="btn btn-success" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<hr style="border-top-color: black;">

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-5">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Rol", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</div>



