﻿@model  SeguridadCiudadana.Fwk.Domain.Core.AspNetRoles

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Rol</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.Partial("_CreateOrEdit", Model)
    </div>

    <hr style="border-top-color: black;">

    <div class="row">
        <div class="col-md-12" style="padding-left: 10px;">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}