﻿@model IEnumerable<SeguridadCiudadana.Fwk.Domain.Core.AspNetRoles>
@{
    ViewBag.Title = "Roles";
}

@if (ViewBag.esTransaccionExitosa != null && ViewBag.esTransaccionExitosa == true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-ok" >
                    Transaccion realizada en forma exitosa.
                </span>
            </div>
        </div>
    </div>
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Nuevo Rol", "Create")
</p>

<hr style="border-top-color: black;">

@{var n = 1;}

<table class="table table-bordered table-striped" id="listado">
    <thead>
    <tr>
        <th style="text-align: center; width: 6rem;">
            @Html.DisplayName("Ord")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align: center; width: 6rem;">
            @Html.DisplayName("Estado")
        </th>
        <th style="text-align: center; width: 6rem;"></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x=>x.Name))
        {
            <tr>
                <td style="text-align: center;">
                    @n.ToString()
                    @{n++;}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align: center; width: 8rem;">
                    @if (item.Activo)
                    {
                        <span class="label label-success label-size-normal">Activo</span>
                    }
                    else
                    {
                        <span class="label label-danger label-size-normal">Suspendido</span>
                    }
                </td>
                <td style="text-align: center; width: 15rem;">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @if (item.Activo)
                    {
                        using (Html.BeginForm("suspender", "AspNetRoles", FormMethod.Post, new { id = "suspenderForm", @style = "display: inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:submitSuspender('@item.Id');">Suspender</a>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("activar", "AspNetRoles", FormMethod.Post, new { id = "activarForm", @style = "display: inline;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:submitActivar('@item.Id');">Activar</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{

    <link href="~/Content/bootstrap.datatables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.datatables-1.10.11.js"></script>
    <script src="~/Scripts/jquery.datatables-bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listado').DataTable(
            {
                "ordering": false,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    },
                    "search": "Buscar"
                }
            });
        });

        function submitSuspender(id) {
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "id");
            input.setAttribute("value", id);
            document.getElementById("suspenderForm").appendChild(input);
            document.getElementById('suspenderForm').submit();
        }
        function submitActivar(id) {
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "id");
            input.setAttribute("value", id);
            document.getElementById("activarForm").appendChild(input);
            document.getElementById('activarForm').submit();
        }


    </script>
}