﻿@{
    ViewBag.Title = "Confirmación de olvido de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor revise su email para resetear la contraseña.
    </p>
</div>
	
