﻿@using SeguridadCiudadana.Ftd.Presentation.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    //Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<br />
<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="paragraphs">
            <div class="row">
                <div class="col-md-1">
                    @*<img src="~/Content/logo.jpg" alt="CIMTUC RH" style="width:70px;height:70px;" >*@
                </div>
                <div class="col-md-11">
                    <h1 class="HeaderTitle">Iniciar Sesión</h1>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">

        <div class="panel panel-primary col-md-10 col-md-offset-1" style="padding-top: 3rem; margin-top: 2rem; margin-bottom: 2rem;">

            @using (Html.BeginForm("Login", "Account", new { area = "", controller = "Account", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuario" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Entrar" class="btn btn-primary btn-xlarge" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @*<p style="text-align: center; font-size: 1.3em;">Si no recuerda su contraseña comunicarse con el administrador</p>*@
                        <a href="@Url.Action("ForgotPassword","Account", new { area = "", controller = "Account" })"> Olvide mi contraseña</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="hr">
            <hr />
        </div>
    </div>
</div>


