﻿@{
    ViewBag.Title = "Confirmación de reseteo de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Tu contraseña fue reseteada. Por favor @Html.ActionLink("Click aquí para iniciar sesión ", "Login", "Account", new { area = "", controller = "Account" }, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
