﻿@model IEnumerable<SeguridadCiudadana.Fwk.Domain.Core.AlertaHistoria>

@{ var message = Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.Estado), Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().Estado) + "(" + Model.Count() + " cambios previos)";
}

@if (Model.Any())
{
    <div class="panel-group" id="@("accordion_" + Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AlertaId)">
        <div>
            <div>

                <a data-toggle="collapse" data-parent="@("#accordion_" + Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AlertaId)" href="@("#collapse_" + Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AlertaId)">
                    @message
                </a>

            </div>
            <div id="@("collapse_" + Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AlertaId)" class="panel-collapse collapse">
                <div>
                    <ul class="list-group">
                        @foreach (var detail in Model.OrderByDescending(x => x.FechaHora))
                        {
                            <li class="list-group-item">
                                @*@string.Format("El usuario {0} cambio esta alerta al estado {1} a las {2} Obserbaciones: {3}", detail.AspNetUsers.UserName, Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.Estado), detail.Estado), detail.FechaHora, detail.Observacion)*@
                                El usuario <strong>@detail.AspNetUsers.UserName</strong> cambio esta alerta al estado <strong>@Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.Estado), detail.Estado)</strong> a las <strong>@detail.FechaHora</strong> Obs: <strong>@detail.Observacion</strong>
                            </li>

                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
}
else
{
    @Html.DisplayFor(modelItem => message)
}
@foreach (var operacion in Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().GetOperations())
{
    var op = Enum.Parse(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.Operacion), operacion.ToString());
    int opVal = (int)op;

    string actionLink = "AddAlertHistory(" + Model.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AlertaId + ", " + opVal + ")";

    <a class="btn btn-default" onclick='@actionLink'>@operacion.ToString()</a>
}