﻿@model IEnumerable<SeguridadCiudadana.Fwk.Domain.Core.Alerta>
<style>
    .angular-google-map-container {
        height: 400px;
        box-shadow: 2px 2px 3px 3px lightgrey;
    }

    .angular-google-map {
        width: 100%;
        height: 100%;
        margin: auto 0px;
    }
</style>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div ng-app="myapp" ng-controller="mapsController">
    <!--It displays the markers links-->
    @*<div class="locations">
        <ul>
            <li ng-repeat="l in locations" ng-click="ShowLocation(l.Id)"><a href="#">{{l.Title}}</a></li>
        </ul>
    </div>*@
    
    <div class="maps">
        <!-- Add directive code (gmap directive) for show map and markers-->
        <ui-gmap-google-map style="box-shadow:2px 2px 2px 2px lightgrey" center="map.center" zoom="map.zoom">
            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                <ui-gmap-window options="windowOptions" show="windowOptions.show">
                    <div style="max-width:200px">
                        <div class="header"><strong>{{marker.title}}</strong></div>
                        <div id="mapcontent">
                            <p>
                                <img ng-src="{{marker.image}}" style="width:100px; height:100px" />
                                @*<img ng-src="~/Content/1.jpg" style="width:100px; height:100px" />*@

                                <div>{{marker.address}}</div>
                            </p>
                        </div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AlertaId)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.FechaHora)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.TipoAlerta)
                </th>
                <th>
                    @Html.DisplayName("Dispositivo")
                </th>
                <th >
                    @Html.DisplayName("Titular")
                </th>
                <th>
                    @Html.DisplayName("Responsable Actual")
                </th>
                <th>
                    @Html.DisplayName("Estado Actual")
                </th>
                
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.TipoAlerta), item.TipoAlerta)


                </td>
                <td>
                    @item.Dispositivo.DescripcionLargaDispositivo
                </td>
                <td>
                    @item.Dispositivo.AspNetUsers.Persona.FirstOrDefault().NombreCompleto
                </td>
                <td>
                    @item.AlertasHistoria.OrderByDescending(x => x.AlertaHistoriaId).FirstOrDefault().AspNetUsers.UserName
                </td>
                <td>
                    <div id="@("history_" + item.AlertaId)"> 
                        @Html.Partial("History", item.AlertasHistoria)
                    </div>
                    
                </td>
                
                <td>
                    <span ng-click="ShowLocation(@item.AlertaId)" title="Ubicar" class="ng-scope btn btn-default"><a href="#" class="ng-binding glyphicon glyphicon-map-marker"></a></span>
                    
                           

                   

                </td>
            </tr>
        }

    </table>
</div>
