﻿@*@using PTP.Data*@
@model  SeguridadCiudadana.Fwk.Domain.Core.AspNetProfiles

<div class="row">
    <div class="col-md-12">
        <input type="submit" value="Guardar" class="btn btn-success" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<hr style="border-top-color: black;">

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-5">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Perfil", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</div>


<div class="row" style="margin-top:1rem;">
    <div class="col-md-12">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            <h3>@Html.Label("Roles", null, htmlAttributes: new { @class = "control-label", @styles = "margin-top: 0rem;" })</h3>
            <div class="row">
                @Html.EditorFor(model => Model.AspNetRoles)
            </div>
            
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
</div>




