﻿@model  SeguridadCiudadana.Fwk.Domain.Core.AspNetProfiles

@{
    ViewBag.Title = "Delete";
}

<h3>Confirma que desea borrar el perfil @Model.Name?</h3>

<hr style="border-top-color: black;">

<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
