﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@using System.Linq
@{ Html.EnableUnobtrusiveJavaScript(false); }

@Html.Hidden("PathImagen", Model.PathImagen)

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="~/Content/Images/warning.png" class="header-image" />
            <span>
                Los campos indicados con asterísco hacen referencia a datos obligatorios, sin los cuales no es posible crear un usuario.
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="submit" value="Guardar" class="btn btn-success" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<hr style="border-top-color: black;">

<div class="row">
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.AspNetUsers.UserName, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @if (ViewBag.esEdicion != null && ViewBag.esEdicion)
            {
                @Html.EditorFor(model => model.AspNetUsers.UserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.HiddenFor(model => model.AspNetUsers.UserName)
            }
            else
            {
                @Html.EditorFor(model => model.AspNetUsers.UserName, new { htmlAttributes = new { @class = "form-control" } })
            }
            @Html.ValidationMessageFor(model => model.AspNetUsers.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            <img style="border: 1px solid black; margin-top: 2rem;" src="data:image/png;base64,@Model.ImagenBase64" width="230" height="230" id="vista-previa" />
            <input type="file" name="Imagen" accept="image/*" onchange="readURL(this);" multiple style="margin-top: 2rem;" />
        </div>
    </div>
</div>

<div class="row">

    @if (ViewBag.esEdicion != null && ViewBag.esEdicion)
            {
        <div class="col-md-12">
            <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                <label style="font-style: italic; font-weight: 600;color: red;text-decoration: underline;">Deje el campo vacio si no desea modificar la contraseña.</label>
            </div>
        </div>
    }

    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.AspNetUsers.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AspNetUsers.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Confirmar Contraseña", htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.AspNetUsers.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AspNetUsers.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
</div>


<div class="row" style="margin-top:1rem;">
    <div class="col-md-12">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            <h3>@Html.Label("Perfiles", null, htmlAttributes: new { @class = "control-label", @styles = "margin-top: 0rem;" })</h3>
            @foreach (var perfil in Model.AspNetUsers.AspNetProfiles)
            {
                <h4 style="display:inline"><span class="label label-default">@perfil.Name</span></h4>
            }
        </div>
    </div>
</div>
