﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@using System.Linq
@{ Html.EnableUnobtrusiveJavaScript(false); }

@Html.Hidden("PathImagen", Model.PathImagen)

<hr style="border-top-color: black;">

<div class="row">
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.AspNetUsers.UserName, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @if (ViewBag.esEdicion != null && ViewBag.esEdicion && Model.AspNetUsers != null )
            {
                @Html.EditorFor(model => model.AspNetUsers.UserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.HiddenFor(model=>model.AspNetUsers.UserName)
            }
            else
            {
                @Html.EditorFor(model => model.AspNetUsers.UserName, new { htmlAttributes = new { @class = "form-control" } })
            }
            @Html.ValidationMessageFor(model => model.AspNetUsers.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            <img style="border: 1px solid black; margin-top: 2rem;" src="data:image/png;base64,@Model.ImagenBase64" width="230" height="230" id="vista-previa" />
            <input type="file" name="Imagen" accept="image/*" onchange="readURL(this);" multiple style="margin-top: 2rem;" />
        </div>
    </div>
</div>

<div class="row">

    @if (ViewBag.esEdicion != null && ViewBag.esEdicion)
            {
        <div class="col-md-12">
            <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                <label style="font-style: italic; font-weight: 600;color: red;text-decoration: underline;">Deje el campo vacio si no desea modificar la contraseña.</label>
            </div>
        </div>
    }

    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.AspNetUsers.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AspNetUsers.Password, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label" }) 
            @Html.DropDownList("ddlTiposDocumento", ViewBag.DocumentTypes as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.Genero, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Genero, ViewBag.Genders as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Fecha Nacimiento", htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.TextBoxFor(model => model.FechaNacimiento, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.TelefonoOpcional, new { @class = "control-label" }) 
            @Html.EditorFor(model => model.TelefonoOpcional, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoOpcional, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.ProvinciaId, new { @class = "control-label" }) @Html.Label("(*)")
            @Html.DropDownListFor(m => m.ProvinciaId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.CodigoPostal, new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
        </div>
       
       
    </div>
    <div class="col-md-6">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.Label("Confirmar Contraseña", htmlAttributes: new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.AspNetUsers.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AspNetUsers.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.Documento, new { @class = "control-label" }) @Html.Label("(*)")
            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.TelefonoCelular, new { @class = "control-label" })
            @Html.EditorFor(model => model.TelefonoCelular, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.Calle, new { @class = "control-label" })
            @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.PaisId, new { @class = "control-label" }) @Html.Label("(*)")
            @Html.DropDownListFor(m => m.PaisId, ViewBag.Paises as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaisId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @Html.LabelFor(m => m.Localidad, new { @class = "control-label" }) @Html.Label("(*)")
            @Html.DropDownListFor(m => m.LocalidadId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LocalidadId, "", new { @class = "text-danger" })
        </div>
        
        @if (!Request.IsAuthenticated)
        {
            <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                @Html.LabelFor(m => m.AspNetUsers.AgreeTerms, new { @class = "control-label" }) @Html.Label("(*)")
                @Html.CheckBoxFor(model => model.AspNetUsers.AgreeTerms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AspNetUsers.AgreeTerms, "", new { @class = "text-danger" })
            </div>
        }
      
    </div>
</div>

@if (Request.IsAuthenticated)
{

    //if (User.IsInRole("ABM_Usuarios"))
    //{
        <div class="row" style="margin-top:1rem;">
            <div class="col-md-12">
                <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                    <h3>@Html.Label("Perfiles", null, htmlAttributes: new { @class = "control-label", @styles = "margin-top: 0rem;" })</h3>
                    <div class="row">
                        @Html.EditorFor(model => model.AspNetUsers.AspNetProfiles)
                    </div>
                    @Html.ValidationMessageFor(model => model.AspNetUsers.AspNetProfiles)
                </div>
            </div>
        </div>
    //}
}




