﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@{
    ViewBag.Title = ViewBag.Titulo;
}

@using (Html.BeginForm("Create", "AspNetUsers", FormMethod.Post, new { id = "actorForm", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrEdit", Model)
    </div>

    <hr style="border-top-color: black;">

    <div class="row">
        <div class="col-md-12" style="padding-left: 10px;">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#vista-previa')
                        .attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {

            $('#FechaNacimiento').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-115:-18", //18 years or older up until 115yo (oldest person ever, can be sensibly set to something much smaller in most cases)
                maxDate: "-18Y", //Will only allow the selection of dates more than 18 years ago, useful if you need to restrict this
                minDate: "-115Y"
            });

            $("#PaisId").change(function () {
                populateStates($("#PaisId").val());
            });
            $("#ProvinciaId").change(function () {
                populateCities($("#ProvinciaId").val());
            });

            $("#LocalidadId").change(function () {
                getPostalCode($("#LocalidadId").val());
                
            });
        });

        function populateStates(paisId) {
            var ddStates = document.getElementById("ProvinciaId");
            ddStates.options.length = 0;
            ddStates.options[0] = new Option("Cargando...");
            ddStates.selectedIndex = 0;
            ddStates.disabled = true;

            $.getJSON(
            '@Url.Action("GetStates")',
            { paisId: paisId },
            function (data) {
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        ddStates.options[i] = new Option(item.Descripcion, item.ProvinciaId);
                    });
                    ddStates.options[-1] = new Option("Seleccione...");
                    ddStates.selectedIndex = -1;
                }
                else {
                    ddStates.options.length = 0;
                }
                ddStates.disabled = false;
            });
        }

        function populateCities(provinciaId) {
            var ddCities = document.getElementById("LocalidadId");
            ddCities.options.length = 0;
            ddCities.options[0] = new Option("Cargando...");
            ddCities.selectedIndex = 0;
            ddCities.disabled = true;

            $.getJSON(
            '@Url.Action("GetCities")',
            { provinciaId: provinciaId },
            function (data) {
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        ddCities.options[i] = new Option(item.Descripcion, item.LocalidadId );

                        //if (i==0) {
                        //    document.getElementById("CodigoPostal").value = item.CodigoPostal;
                        //}
                    });
                    ddCities.options[-1] = new Option("Seleccione...");
                    ddCities.selectedIndex = -1;
                }
                else {
                    ddCities.options.length = 0;
                }
                ddCities.disabled = false;
            });
        }

        function getPostalCode(localidadId) {
            

            $.getJSON(
            '@Url.Action("GetPostalCode")',
            { localidadId: localidadId },
            function (data) {
                document.getElementById("CodigoPostal").value = data;
            });
        }

    </script>

}
