﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@{
    ViewBag.Title = "Mi Perfil";
}

<div class="row">

    <div class="col-md-12">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem; margin-top: 1rem; font-size: xx-large;">
            <h2>Datos del referente</h2>
        </div>
        <hr style="border-top-color: black;">
    </div>

    <div class="col-md-7">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            @Html.DisplayFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            @Html.DisplayFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label"}) @Html.Label(":")
            @Html.DisplayFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        @*<div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Cargo, htmlAttributes: new {@class = "control-label"}) @Html.Label(":")
            @Html.DisplayFor(model => model.Cargo, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new {@class = "control-label"}) @Html.Label(":")
            @Html.DisplayFor(model => model.Telefono, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new {@class = "control-label"}) @Html.Label(":")
            @Html.DisplayFor(model => model.Observacion, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.Label("Institucion :")
            @Html.DisplayFor(model => model.Actores.FirstOrDefault().Institucion, new { htmlAttributes = new { @class = "form-control" } })
        </div>*@
    </div>
    <div class="col-md-5">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @if (Model.ImagenBase64 != null)
            {
            <img style="border: 1px solid black;" src="data:image/png;base64,@Model.ImagenBase64" width="150" height="150" id="vista-previa" />
            }
        </div>
    </div>
</div>


@if (ViewBag.returnPartial != null && !ViewBag.returnPartial)
{
    <hr style="border-top-color: black;">

    <div class="row">
        <div class="col-md-12" style="padding-left: 10px;">
            <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
else
{
    <hr style="border-top-color: black; margin-bottom: 0rem;">
}