﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@{
    ViewBag.Title = "Mi Perfil";
}

<div class="row">

    <div class="col-md-12">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem; margin-top: 1rem; font-size: xx-large;">
            <h2>Datos de Usuario</h2>
        </div>
        <hr style="border-top-color: black;">
    </div>

    <div class="col-md-7">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.AspNetUsers.UserName, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            <p style="color: red; font-weight: 700; text-decoration: underline; display: inline">
                @Html.DisplayFor(model => model.AspNetUsers.UserName, new { htmlAttributes = new { @class = "form-control" } })
            </p>
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            @Html.DisplayFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            @Html.DisplayFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group" style="padding-left: 10px; padding-right: 10px; margin-bottom: 1.5rem;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" }) @Html.Label(":")
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            @if (Model.ImagenBase64 != null)
            {
            <img style="border: 1px solid black;" src="data:image/png;base64,@Model.ImagenBase64" width="150" height="150" id="vista-previa" />
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-bottom: 1rem;">
        <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
            <h3>@Html.Label("Perfiles", null, htmlAttributes: new { @class = "control-label", @styles = "margin-top: 0rem;" })</h3>
            @foreach (var perfil in Model.AspNetUsers.AspNetProfiles)
            {
                <h4 style="display:inline"><span class="label label-default">@perfil.Name</span></h4>
            }
        </div>
    </div>

</div>


@if (ViewBag.returnPartial != null && !ViewBag.returnPartial)
{
    <hr style="border-top-color: black;">

    <div class="row">
        <div class="col-md-12" style="padding-left: 10px;">
            <div class="form-group" style="padding-left: 10px; padding-right: 10px;">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
else
{
    <hr style="border-top-color: black; margin-bottom: 0rem;">
}