﻿@model IEnumerable<SeguridadCiudadana.Fwk.Domain.Core.Dispositivo>
<h3>Dispositivos de @Session["UserNameSelected"]</h3>
<p>
    @Html.ActionLink("Agregar", "Create", "Dispositivo", new {Area="Backend" }, new { })
</p>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTelefonico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDispositivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTelefonico)
        </td>
        <td>
           
            @Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.TipoDispositivo), item.TipoDispositivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compania)
        </td>
        <td>
           @if (item.Estado == (int)SeguridadCiudadana.Fwk.Domain.Core.Enums.EstadoDispositivo.Activo)
           {
            <span class="label label-success label-size-normal">Activo</span>
           }
           else
           {
            <span class="label label-danger label-size-normal">Suspendido</span>
           }
        </td>
       
        <td>
            <a href="@Url.Action("Edit", "Dispositivo", new { id = item.DispositivoId })" title="Editar" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>

            @{ if (item.Estado == (int)SeguridadCiudadana.Fwk.Domain.Core.Enums.EstadoDispositivo.Inactivo)
                {
                    <a href="@Url.Action("Activar","Dispositivo", new { id = item.DispositivoId })" title="Activar" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle"></span></a>
                }
                else
                {
                    <a href="@Url.Action("Suspender","Dispositivo", new { id = item.DispositivoId })" title="Suspender" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span></a>

                }

            }


        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Cancelar", "Index", new {  }, new { @class = "btn btn-default" })
</div>