﻿@model IEnumerable<SeguridadCiudadana.Fwk.Domain.Core.Persona>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.esTransaccionExitosa != null && ViewBag.esTransaccionExitosa == true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="glyphicon glyphicon-ok"> </i>
                <span>
                    Transaccion realizada en forma exitosa.
                </span>
            </div>
        </div>
    </div>
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>

<hr style="border-top-color: black;">


<table class="table table-bordered table-striped" id="listado">
    <thead>
        <tr>
            <th style="text-align: center; width: 6rem;">
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th style="text-align: center; width: 6rem;">
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th style="text-align: center; width: 25%;">
                @Html.DisplayName("Nombre y Apellido")
            </th>
            <th style="text-align: center; width: 15rem;">
                @Html.DisplayName("Usuario")
            </th>
            <th style="text-align: center; width: 25%;">
                @Html.DisplayName("Mail")
            </th>
            <th style="text-align: center; width: 8rem;">
                @Html.DisplayName("Perfiles")
            </th>
            <th style="text-align: center; width: 25%;"></th>
            <th style="text-align: center; width: 25%;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    @Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.TipoDocumento), item.TipoDocumento)
                </td>
                <td style="text-align: center;">
                   @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @{
                        if (item.AspNetUsers != null)
                        {
                            var firstOrDefault = item.AspNetUsers.Persona.FirstOrDefault();
                            if (firstOrDefault != null)
                            {
                                @Html.ActionLink(firstOrDefault.NombreCompleto, "DatosUsuario", new { username = item.AspNetUsers.UserName })
                            }
                        }
                        else
                        {
                            @Html.Label(item.NombreCompleto)
                        }
                    }
                </td>
                <td>
                    @if (item.AspNetUsers != null)
                    {

                        @Html.ActionLink(item.AspNetUsers.UserName, "DatosUsuario", new { username = item.AspNetUsers.UserName })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>
                <td>
                    @if (item.AspNetUsers != null)
                    {
                        foreach (var perfil in item.AspNetUsers.AspNetProfiles.Where(p => p.Activo))
                        {
                            @*@Html.ActionLink(perfil.Name, "details", new { id = item.AspNetUsers.Id }, new { @style = "margin-left: 1rem;" })*@
                            @perfil.Name
                        }
                    }
                </td>
                <td style="text-align: center; width: 25%;">
                    @{ 
                        if (item.AspNetUsers != null)
                        {
                            if (item.AspNetUsers.AspNetUserClaims.Any(c => c.ClaimType == "active" && c.ClaimValue == "true"))
                            {
                            <span class="label label-success label-size-normal">Activo</span>
                            }
                            else
                            {
                            <span class="label label-danger label-size-normal">Suspendido</span>
                            }
                        }
                    }
                </td>
                <td style="text-align: center; width: 25%;">
                    @{ 
                        

                        <a href="@Url.Action("Edit", new { id = item.PersonaId  })" title="Editar" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>

                        if (item.AspNetUsers != null)  //if (User.IsInRole("ABM_Usuarios"))
                        {
                            using (Html.BeginForm("Dispositivos", "AspNetUsers", FormMethod.Post, new { id = "dispositivosForm", @style = "display: inline;" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:submitDispositivos('@item.AspNetUsers.Id');" title="Dispositivos" class="btn btn-default"><span class="glyphicon glyphicon-screenshot"></span></a>
                            }

                            if (item.AspNetUsers.AspNetUserClaims.Any(c => c.ClaimType == "active" && c.ClaimValue == "true"))
                            {
                                using (Html.BeginForm("suspender", "AspNetUsers", FormMethod.Post, new { id = "suspenderForm", @style = "display: inline;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:submitSuspender('@item.AspNetUsers.Id');" title="Suspender" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("activar", "AspNetUsers", FormMethod.Post, new { id = "activarForm", @style = "display: inline;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:submitActivar('@item.AspNetUsers.Id');" title="Activar" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle"></span></a>
                                }
                            }

                        }

                       }
                </td>
            </tr>
         }
    </tbody>
</table>
<hr />


@section scripts{
    <link href="~/Content/bootstrap.datatables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.datatables-1.10.11.js"></script>
    <script src="~/Scripts/jquery.datatables-bootstrap.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#listado').DataTable(
            {
                "ordering": false,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    },
                    "search": "Buscar",
                    "scrollX": true
                }
            });
        });

        
    </script>
}

