﻿@model  SeguridadCiudadana.Fwk.Domain.Core.Persona
@{
    ViewBag.Title = "Mi Perfil";
}

@if (ViewBag.esTransaccionExitosa != null && ViewBag.esTransaccionExitosa == true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="~/Content/Images/success.png" class="header-image" />
                <span>
                    Transaccion realizada en forma exitosa.
                </span>
            </div>
        </div>
    </div>
}

<h2>Mi Perfil</h2>

@using (Html.BeginForm("MiPerfil", "AspNetUsers", FormMethod.Post, new { id = "actorForm", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrEditMiPerfil", Model)
        @Html.HiddenFor(m => m.PersonaId )
        @Html.HiddenFor(m => m.AspNetUsers.Id)
    </div>

    <hr style="border-top-color: black;">

    <div class="row">
        <div class="col-md-12" style="padding-left: 10px;">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#vista-previa')
                        .attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

}
