﻿@model SeguridadCiudadana.Fwk.Domain.Core.Dispositivo

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Agregar Dispositivo para @Session["UserNameSelected"]</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroTelefonico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(Session["PrefijoTelefonico"].ToString()+ " Ingrese la caracteristica de su provincia sin el 0 + su número sin el 15")
                @Html.EditorFor(model => model.NumeroTelefonico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroTelefonico, "", new { @class = "text-danger" })
            </div>
        </div>
               

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDispositivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ddlTiposDispositivo", ViewBag.DeviceTypes as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoDispositivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Compania, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Compania, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Compania, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="loading" style="text-align: center; display: none;">
           <i class="glyphicon glyphicon-time"> </i>
        </div>      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


   

@using (Html.BeginForm("Dispositivos", "AspNetUsers", FormMethod.Post, new { id = "dispositivosForm", @style = "display: inline;" }))
       {
            @Html.AntiForgeryToken()
            <a href="javascript:submitDispositivos('@Session["UserIdSelected"].ToString()');" title="Cancelar" class="btn btn-default">Cancelar</a>
       }

