﻿@model SeguridadCiudadana.Fwk.Domain.Core.Dispositivo

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Esta seguro que desea desactivar el siguiente dispositivo de @Session["UserNameSelected"]</h4>
        <hr />
       
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroTelefonico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NumeroTelefonico, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
               

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDispositivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Enum.GetName(typeof(SeguridadCiudadana.Fwk.Domain.Core.Enums.TipoDispositivo), Model.TipoDispositivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Compania, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Compania, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>
          

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


   

@using (Html.BeginForm("Dispositivos", "AspNetUsers", FormMethod.Post, new { id = "dispositivosForm", @style = "display: inline;" }))
       {
            @Html.AntiForgeryToken()
            <a href="javascript:submitDispositivos('@Session["UserIdSelected"].ToString()');" title="Cancelar" class="btn btn-default">Cancelar</a>
       }

