﻿
<ul class="sidebar-menu">
    @*@if (Request.IsAuthenticated)
    {*@
        
        <li class="header">Seguridad</li>
        @*if (User.IsInRole("ABM_Roles"))
        {*@
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-key"></i> <span>Roles</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li><a href="@Url.Action("Create", "AspNetRoles", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Crear Rol</a></li>
                        <li><a href="@Url.Action("Index", "AspNetRoles", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Lista de Roles</a></li>


                    </ul>
                </li>

        @*}
        if (User.IsInRole("ABM_Perfiles"))
        {*@
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-key"></i> <span>Perfiles</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                
                            <li><a href="@Url.Action("Create", "AspNetProfiles", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Crear Perfil</a></li>
                            <li><a href="@Url.Action("Index", "AspNetProfiles", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Lista de Perfiles</a></li>
                    
              
               
                    </ul>
                </li>
        @*}*@
        @*if (User.IsInRole("ABM_Usuarios"))
        {*@
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-key"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                
                            <li><a href="@Url.Action("Create", "AspNetUsers", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Crear Usuario</a></li>
                            <li><a href="@Url.Action("Index", "AspNetUsers", new { Area = "Backend" }, null)"><i class="fa fa-circle-o"></i> Lista de Usuarios</a></li>
               
               
                    </ul>
                </li>

                

        @*}*@

        <li class="header">Alertas</li>
            <li><a href="@Url.Action("Index", "Alerta", new { Area = "Backend" }, null)"><i class="glyphicon glyphicon-map-marker"></i> Panel de Alertas</a></li>
        


        @*}*@
</ul>

